.header {
    width:100%;
    background-color: darkblue;
}

.div {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.nav {
    background-color:grey;
    padding:0.5%;
}

.options {
    grid-column: 6;
    align-self: center;
}

.ul {
    margin:0;
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(7,1fr);
}